 body
{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square
{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 25px;
	transition: background 1.0s;
	-webkit-transition: background 1.0s;
	-moz-transition: background 1.0s;
}
#container
{
	max-width: 600px;
	margin: 20px auto;
}
h1
{
	line-height: 1.1;
	padding: 20px 0; 
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	text-align: center;
	background: steelblue;
	margin: 0;
}

#stripe
{
	background: white;
	height: 30px;
	text-align: center; 
}

.selected
{
	background: steelblue;
	color: white;
}

#colorDisplay
{
	font-size: 200%;
}
button
{
	border: none;
	background: none; 
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit; 
	transition: all 0.30s;
	-webkit-transition:  all 0.30s;
	-moz-transition:  all 0.30s; 
	outline: none;   
}
button:hover
{
	color: white;
	background: steelblue;
}
#message
{
	display: inline-block;
	width: 20%;
}