body
{
    font-family: Arial, Helvetica, sans-serif;
}
#container
{
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
    
} 

.completed
{
    color: gray;
    text-decoration: line-through;
}
h1
{
    background: #2980b9;
    color: white;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    border-radius: 5px;
}
ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
li
{
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}
li:nth-child(2n)
{
    background: #f7f7f7;
}
input
{
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #666;
    border: 3px solid rgba(0, 0, 0, 0);
}
input:focus
{
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}
.fa-pencil
{
    float: right;
}
span
{
    background: red;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span
{
    opacity: 1.0;
    width: 40px;
}